.new-member-module {
  padding: 0 70px 50px 70px;
  margin: 80px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.dark {
    background-image: url(/new_member_module_bckg-dark.jpg);
    .tabs-nav {
      background: #FDB9AF;
      li {
        color: rgba(65, 65, 64, 0.42);
      }
      .react-tabs__tab--selected {
        color: #484848;
      }
    }
    button {
      background: #039073;
      color: #FFD24C;
    }
    .tab {
      button {
        background: transparent;
        border: 2px solid #C6C6C6;
        color: #323648;
      }
      p {
        color: #323648;
      }
    }
    h2 {
      color: #ffffff;
    }
    .new-member-p {
      color: #ffffff;
    }
  }
  &.light {
    background-image: url(/new_member_module_bckg-light.jpg);
  }

  a {
    font-size: 12px;
  }
  .new-member-h2 {
    width: 83%;
    font-size: 70px;
    letter-spacing: 0;
    font-family: 'Roboto';
    margin-bottom: 30px;
  }
  .new-member-p {
    width: 83%;
    font-size: 24px;
    margin-top: -15px;
    margin-bottom: 70px;
  }
  .cta-section {

  }
  .cta-button {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 38px;
  }
  .phone-tabs {
    background: #ffffff;
  }
  .tab-container .tab.react-tabs__tab-panel--selected {
    padding: 50px;
    max-height: 350px;
    overflow-y: hidden;
    a {
      color: #484848;
    }
  }
  .tab {
    .input-wrap {
      position: relative;
    }
    input {
      width: 100%;
      padding: 7px 7px 7px 30px;
      margin: 0 0 16px 0;
      box-sizing: border-box;
      font-size: 26px;
      font-weight: bold;
      font-family: 'Roboto';
      border: none;
      border-bottom: 1px solid #757575;
      background: transparent;
      
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: 2px 9px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #C4C4C4;
      }
    }
    p {
      font-size: 26px;
      font-family: 'Roboto';
      font-weight: 600;
      margin: 10px 0 40px 0;
    }
    .icon-cellphone {
      position: absolute;
      top: 4px;
      width: 18px;
      height: 30px;
      background-image: url(/cellphone-iphone.png);
    }
    button {
      margin-right: 20px;
      font-size: 15px;
      text-transform: uppercase;
    }
    .small-link {
      font-size: 15px;
    }
  }

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

  .tab-content Button {
    margin-right: 25px;
  }
  .tab-container {
    position: relative;
    height: 100%;
  }
  .tabs-nav {
    display: flex;
    justify-content: space-evenly;
    background: #323648;
    margin: 0;
    list-style:none;
    padding: 0;
        position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 1px 6px rgba(179, 81, 66, 0.5);
    li {
      line-height: 61px;
      text-decoration: none;
      color: #888A94;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
    }
    .react-tabs__tab--selected {
      position: relative;
      color: #ffffff;

      &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 11px solid #ffffff;
      }
    }
  }
}