.article-content .video-react .video-react-big-play-button {
  left: 50%;
  margin-left: -45px;
  top: 50%;
  margin-top: -45px;
  border-width: 5px;
  height: 90px;
  border-radius: 100%;
  background-color: transparent; }
  .article-content .video-react .video-react-big-play-button:before {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    font-size: 50px; }

.article-content .content {
  color: #ffffff; }
  .article-content .content p {
    font-size: 20px; }
  .article-content .content h3 {
    font-size: 24px; }
