main {
  overflow: hidden; }

.load-more-button {
  display: block;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffffff;
  background: transparent;
  padding: 12px 8px;
  min-width: 184px;
  border-radius: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  cursor: pointer; }
  .load-more-button:focus {
    border: 2px solid #ffffff;
    outline: none; }
