main {
	overflow: hidden;
}

.load-more-button {
	display: block;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 600;
	color: #ffffff;
	border: 2px solid #ffffff;
	background: transparent;
	padding: 9px 8px;
	min-width: 184px;
	border-radius: 54px;
	margin-top: 50px;
	text-transform: uppercase;
	cursor: pointer;
	&:focus {
		border: 2px solid #ffffff;
		outline: none;
	}
}	