footer {
  color: #ffffff;
  padding: 50px 0;
  background-color: #026966;
  background-image: url("/footer-bckg.png");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat; }
  footer a {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none; }
  footer .footer-box {
    border-top: 2px solid rgba(255, 255, 255, 0.38);
    padding-top: 10px;
    margin-top: 30px; }
    footer .footer-box h4 {
      font-size: 18px;
      margin: 0 0 5px 0; }
    footer .footer-box p {
      font-size: 15px; }
