footer {
  color: #ffffff;
  padding: 50px 0;
  background-color: #026966;
  background-image: url("/footer-bckg.png");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat; }
  footer a {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #ffffff;
    text-decoration: none; }
  footer .footer-box {
    border-top: 1px solid rgba(255, 255, 255, 0.38);
    padding-top: 10px;
    margin-top: 30px; }
    footer .footer-box h4 {
      font-size: 18px;
      color: #FDB9AF;
      font-weight: 600;
      margin: 5px 0 5px 0; }
    footer .footer-box p {
      font-size: 15px;
      font-weight: 400;
      margin-top: 5px; }
